<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>New Workout</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addNewWorkout()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button> 
    </ion-buttons>
      
  </ion-toolbar>
      
</ion-header>

<ion-content class="ion-padding" >
  
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input maxlength="100" placeholder="Enter name" [(ngModel)]="workoutName"></ion-input>

  </ion-item>
  
  <ion-item-group class="ion-padding">
    <ion-item-divider>Exercises:</ion-item-divider>
    
    <ion-item-group class="ion-padding">
      
      <ion-label *ngIf="exercises.length===0">There are no exercises.</ion-label>

      <ion-item *ngFor="let ex of exercises; index as i" >
        <ion-label>{{ex.name}}</ion-label>
        <ion-buttons>
          <ion-button (click)="removeExercise(i)">
            <ion-icon slot="icon-only" name="close" lazy="false" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      
    </ion-item-group>
      <ion-item-divider>Add New:</ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Name: </ion-label>
        <ion-input maxlength="100" placeholder="Enter name" [(ngModel)]="newExerciseName"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>duration:</ion-label>
        <ion-datetime displayFormat="mm:ss" placeholder="Enter Time" [(ngModel)]="newTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Insert Rest in between All exercises</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="autoRest" slot="start"></ion-checkbox>
        
        <ion-datetime displayFormat="mm:ss" placeholder="Enter Time" [(ngModel)]="restTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-button expand="block" (click)="addExercise()">Add</ion-button>
      </ion-item>
  </ion-item-group>



</ion-content>
