<ion-header>
  <ion-toolbar>
      <ion-title>{{workout.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      <ion-button [disabled]="!workout.exercises.length" color="primary" routerLink="/workouts/{{workout.id}}">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- display list of existing exercises -->
    <ion-item-group>
      <ion-item *ngIf="saved">
          <ion-label class="ion-text-center" color="success">Routine Saved</ion-label>
        </ion-item>
        <ion-item *ngIf="error">
            <ion-label class="ion-text-center">An error occured</ion-label>
          </ion-item>
      <ion-item>
          <ion-label position="stacked">Routine Name: </ion-label>
          <ion-input maxlength="100" placeholder="Enter name" [(ngModel)]="workout.name"></ion-input>
        </ion-item>
      <ion-label *ngIf="workout.exercises.length===0" color="warning">There are no exercises.</ion-label>
      <ion-item *ngFor="let ex of workout.exercises; index as i"> 
        <ion-label>{{ex.name}}
      </ion-label>
      <ion-label>{{ex.duration}}</ion-label>
            <ion-buttons>
              <ion-button (click)="moveExerciseUp(ex)">
                  <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
              </ion-button>
              <ion-button (click)="moveExerciseDown(ex)">
                  <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
              </ion-button>
              <ion-button (click)="removeExercise(i)">
                <ion-icon slot="icon-only" name="remove-circle" lazy="false" color="warning"></ion-icon>
              </ion-button>
              <ion-button routerLink="/edit-exercise/{{id}}/{{i}}">
                <ion-icon slot="icon-only" name="build" lazy="false"></ion-icon>
              </ion-button>
            </ion-buttons>
      </ion-item>
    </ion-item-group>
  <!-- option to add new exercises -->
    <ion-item-group class="ion-padding">
        <ion-item>Add New Exercises:</ion-item>
        <ion-item>
          <ion-label position="stacked">Name: </ion-label>
          <ion-input maxlength="100" placeholder="Enter name" [(ngModel)]="newExerciseName"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>duration:</ion-label>
          <ion-datetime displayFormat="mm:ss" placeholder="Enter Time" [(ngModel)]="newTime"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Auto Insert REST Cycles</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="autoRest" slot="start"></ion-checkbox>
          <ion-datetime displayFormat="mm:ss" placeholder="Enter Time" [(ngModel)]="restTime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-button expand="block" (click)="addExercise()">Add</ion-button>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item>
            <ion-label></ion-label>
            <ion-button expand="block" (click)="saveWorkout()" color="success">Save Routine</ion-button>
        </ion-item>
    </ion-item-group>




</ion-content>
